core/__pycache__/
__pycache__/
.pytest_cache/
KGs/
Experiments/
vscode/*
wandb/*
benchmarks/Experiments/
benchmarks/performance_test_1st/
benchmarks/pykeen_bigdataset/
benchmarks/pykeen_cpu/
benchmarks/pykeen_gpu/
benchmarks/wandb/
benchmarks/dice/wandb/